In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df1 = pd.read_csv('City.csv')

In [3]:
df1.head()

,City,Ratings,Ideal_duration,Best_time_to_visit,City_desc
0,Manali,4.5,2-4,October-June,[' One of the most popular hill stations in Hi...
1,Leh Ladakh,4.6,5-7,JulyOctober,"["" Ladakh is a union territory in the Kashmir ..."
2,Coorg,4.2,2-3,September-June,[' Located amidst imposing mountains in Karnat...
3,Andaman,4.5,4-6,October-March,[' Replete with turquoise blue water beaches a...
4,Lakshadweep,4.0,4-6,September-February,"["" Formerly known as Laccadive Islands, Laksha..."

In [4]:
df1['City_desc'][0]

'[\' One of the most popular hill stations in Himachal, Manali offers the most magnificent views of the Pir Panjal and the Dhauladhar ranges covered with snow for most parts of the year. \', \'\', " With the Covid-19 pandemic going on, Manali has evolved to be a place loved by young people looking for longer stays for workation. With ambient cafes, good wifi availability, small eateries and convenient shops, Old Manali is among the favorite neighbourhood for such people. There are many homestays and hostels offering dorm beds for cheap for longer durations. Manali has many trekking options around it, making it a great base for exploring this side of Himalayas. River Beas provides great rafting options in the nearby town of Kullu. Adjoining Parvati river, lies the Parvati Valley with  Kasol, Manikaran, Tosh and small villages attracting travellers for longer stays. Atal Tunnel now allows travellers to reach Sissu within a few hours making Spiti way more accessible. It snows the most in the months of January & February followed by December and March. If you\'re very lucky, you might find some snow in April. Tourists flock to Rohtang Pass & Solang valley for various adventure activities including skiing, paragliding, horse-riding & zorbing. Rohtang Pass is almost always covered with snow and can often get overcrowded and see traffic jams."]'

In [5]:
df2 = pd.read_csv('Places.csv')

In [6]:
df2.head()

,City,Place,Ratings,Distance,Place_desc
0,Manali,1. Capture the Sceneries of Old Manali,3.9,2 km from city center,On the other side of the Manalsu river is a p...
1,Manali,2. Engage in the Adventures of Solang Valley,4.6,8 km from city center,Solang Valley is one of the most popular tour...
2,Manali,3. Jogini Waterfall,4.6,4 km from city center,Jogini Waterfall is located about 3 kilometre...
3,Manali,4. Hadimba Temple,4.4,1 km from city center,"Hadimba temple, away from the hustle and bust..."
4,Manali,5. Rohtang Pass,4.4,16 km from city center,Rohtang pass is the stretch which connects Ma...

In [7]:
df2.isnull().sum()

City             0
Place            0
Ratings       1320
Distance        16
Place_desc       0
dtype: int64

In [8]:
df1.shape

(100, 5)

In [9]:
df2.shape

(2989, 5)

In [10]:
df = df1.merge(df2, on='City')

In [11]:
df.head()

,City,Ratings_x,Ideal_duration,Best_time_to_visit,City_desc,Place,Ratings_y,Distance,Place_desc
0,Manali,4.5,2-4,October-June,[' One of the most popular hill stations in Hi...,1. Capture the Sceneries of Old Manali,3.9,2 km from city center,On the other side of the Manalsu river is a p...
1,Manali,4.5,2-4,October-June,[' One of the most popular hill stations in Hi...,2. Engage in the Adventures of Solang Valley,4.6,8 km from city center,Solang Valley is one of the most popular tour...
2,Manali,4.5,2-4,October-June,[' One of the most popular hill stations in Hi...,3. Jogini Waterfall,4.6,4 km from city center,Jogini Waterfall is located about 3 kilometre...
3,Manali,4.5,2-4,October-June,[' One of the most popular hill stations in Hi...,4. Hadimba Temple,4.4,1 km from city center,"Hadimba temple, away from the hustle and bust..."
4,Manali,4.5,2-4,October-June,[' One of the most popular hill stations in Hi...,5. Rohtang Pass,4.4,16 km from city center,Rohtang pass is the stretch which connects Ma...

In [12]:
df.shape

(2989, 9)

In [13]:
df.isnull().sum()

City                     0
Ratings_x                0
Ideal_duration           0
Best_time_to_visit    1879
City_desc               24
Place                    0
Ratings_y             1320
Distance                16
Place_desc               0
dtype: int64

In [14]:
df['Best_time_to_visit'].ffill(inplace=True)

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_2812\713242487.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Best_time_to_visit'].ffill(inplace=True)

In [15]:
df['Best_time_to_visit'].bfill(inplace=True)

In [16]:
df.isnull().sum()

City                     0
Ratings_x                0
Ideal_duration           0
Best_time_to_visit       0
City_desc               24
Place                    0
Ratings_y             1320
Distance                16
Place_desc               0
dtype: int64

In [17]:
df['City_desc'].ffill(inplace=True)

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_2812\3303120078.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['City_desc'].ffill(inplace=True)

In [18]:
df['Distance'].ffill(inplace=True)

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_2812\3098604474.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Distance'].ffill(inplace=True)

In [19]:
df.isnull().sum()

City                     0
Ratings_x                0
Ideal_duration           0
Best_time_to_visit       0
City_desc                0
Place                    0
Ratings_y             1320
Distance                 0
Place_desc               0
dtype: int64

In [20]:
df.head()

,City,Ratings_x,Ideal_duration,Best_time_to_visit,City_desc,Place,Ratings_y,Distance,Place_desc
0,Manali,4.5,2-4,October-June,[' One of the most popular hill stations in Hi...,1. Capture the Sceneries of Old Manali,3.9,2 km from city center,On the other side of the Manalsu river is a p...
1,Manali,4.5,2-4,October-June,[' One of the most popular hill stations in Hi...,2. Engage in the Adventures of Solang Valley,4.6,8 km from city center,Solang Valley is one of the most popular tour...
2,Manali,4.5,2-4,October-June,[' One of the most popular hill stations in Hi...,3. Jogini Waterfall,4.6,4 km from city center,Jogini Waterfall is located about 3 kilometre...
3,Manali,4.5,2-4,October-June,[' One of the most popular hill stations in Hi...,4. Hadimba Temple,4.4,1 km from city center,"Hadimba temple, away from the hustle and bust..."
4,Manali,4.5,2-4,October-June,[' One of the most popular hill stations in Hi...,5. Rohtang Pass,4.4,16 km from city center,Rohtang pass is the stretch which connects Ma...

In [21]:
import difflib
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

# helper to find column by common variants
def find_col_local(df, candidates):
    for c in candidates:
        if c in df.columns:
            return c
    lowmap = {col.lower().replace(' ', '_'): col for col in df.columns}
    for c in candidates:
        key = c.lower().replace(' ', '_')
        if key in lowmap:
            return lowmap[key]
    m = difflib.get_close_matches(candidates[0], list(df.columns), n=1, cutoff=0.6)
    return m[0] if m else None

city_col = find_col_local(df, ['City'])
dur_col = find_col_local(df, ['Ideal_duration', 'Ideal Duration', 'Ideal_Duration'])
time_col = find_col_local(df, ['Best_time_to_visit', 'Best_Time_to_Visit', 'Best time to visit'])

if not (city_col and dur_col and time_col):
    raise KeyError(f"Required columns not found. Available columns: {list(df.columns)}")

city_df = df[[city_col, dur_col, time_col]].drop_duplicates(subset=[city_col]).fillna('').reset_index(drop=True)
city_df['profile'] = city_df[dur_col].astype(str) + ' | ' + city_df[time_col].astype(str)

vectorizer = TfidfVectorizer(stop_words='english')
tfidf = vectorizer.fit_transform(city_df['profile'])
sim_matrix = cosine_similarity(tfidf, tfidf)

city_to_idx = {name: i for i, name in enumerate(city_df[city_col].astype(str))}

def recommend(city_name, topn=5):
    if city_name not in city_to_idx:
        m = difflib.get_close_matches(city_name, list(city_to_idx.keys()), n=1, cutoff=0.6)
        if not m:
            raise ValueError(f"City '{city_name}' not found and no close match available.")
        city_name = m[0]
    idx = city_to_idx[city_name]
    scores = list(enumerate(sim_matrix[idx]))
    scores = sorted(scores, key=lambda x: x[1], reverse=True)
    results = [(city_df.loc[i, city_col], city_df.loc[i, dur_col], city_df.loc[i, time_col], float(score))
               for i, score in scores if i != idx][:topn]
    return pd.DataFrame(results, columns=[city_col, dur_col, time_col, 'score'])

print('Merged df created and recommender loaded. Call recommend(<CityName>, topn=5).')

Merged df created and recommender loaded. Call recommend(<CityName>, topn=5).

In [22]:
examples = ['Manali', 'Goa', 'Leh Ladakh']
for city in examples:
    print('\nRecommendations for:', city)
    try:
        print(recommend(city, topn=5))
    except Exception as e:
        print('Error:', e)

Recommendations for: Manali
         City Ideal_duration Best_time_to_visit  score
0  Mcleodganj            2-3       October-June    1.0
1        Ooty            2-3       October-June    1.0
2  Kodaikanal            1-2       October-June    1.0
3   Dalhousie            2-3       October-June    1.0
4   Pachmarhi            2-3       October-June    1.0

Recommendations for: Goa
         City Ideal_duration Best_time_to_visit     score
0      Jaipur            2-3     November-March  0.741400
1    Lonavala            1-2     November-March  0.741400
2   Mussoorie            2-3     November-March  0.741400
3    Alleppey            1-2          -February  0.492268
4  Darjeeling            2-3          -February  0.492268

Recommendations for: Leh Ladakh
          City Ideal_duration  Best_time_to_visit  score
0       Manali            2-4        October-June    0.0
1        Coorg            2-3      September-June    0.0
2      Andaman            4-6       October-March    0.0
3  Lakshadweep            4-6  September-February    0.0
4          Goa            3-7   November-February    0.0

In [25]:
import pickle

# Build a pickleable artifacts dict for deployment.
# This packages the vectorizer, tfidf matrix, similarity matrix,
# the city dataframe and the index mapping. Ensure you run the
# previous cells (which create these variables) before executing.
artifacts = {
    'vectorizer': vectorizer,
    'tfidf': tfidf,
    'sim_matrix': sim_matrix,
    'city_df': city_df,
    'city_col': city_col,
    'dur_col': dur_col,
    'time_col': time_col,
    'city_to_idx': city_to_idx,
}

with open('model.pkl', 'wb') as f:
    pickle.dump(artifacts, f)

print('Saved model.pkl with keys:', list(artifacts.keys()))

Saved model.pkl with keys: ['vectorizer', 'tfidf', 'sim_matrix', 'city_df', 'city_col', 'dur_col', 'time_col', 'city_to_idx']